<div class="container">
<div class="span8">
  <div class="well">
  <table class="table table-bordered">
    <p id="notice"><%= notice %></p>

<tr>
  <td>
  <strong>Name:</strong>
  <%= @user.name %>
</td>
</tr>

<tr>
  <td>
  <strong>Email:</strong>
  <%= @user.email %>
</td>
</tr>

</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>



</div>
</div>
</div>
